
    h1 {background-color:azure ;
        color:darkseagreen ;
        text-align:left;
    }
    
    body {background-color:antiquewhite ;
        color:cornflowerblue;
        font-family: sans-serif;
    }
        
    h4 {color:darkgoldenrod ;
        text-align:center;
    }
    
    h2 {color:orange ;
    }
    
    h3 {background-color:azure ;
}
