
    h1 {background-color:azure ;
        color:darkseagreen ;
        text-align:center;
    }
    
    body {background-color:antiquewhite ;
        color:cornflowerblue;
        font-family: sans-serif;
    }
        
    h4 {color:darkgoldenrod ;
        text-align:center;
        font-family: courier new;
    }
    
    h3 {color:black ;
}

    h2 {font-family: courier new;
}
