
    h1 {background-color:azure ;
        color:darkseagreen ;
        text-align:center;
    }
    
    body {background-color:antiquewhite ;
        color:cornflowerblue;
        font-family: sans-serif;
    }
        
    h4 {color:darkgoldenrod ;
        text-align:center;
        font-family: 'Courier New', monospace;
        border: 1px pink;
        outline-style: solid;
        outline-color: lavender;
        outline-width: thin;
    }
    
    h3 {color:black ;
        font-family: 'Courier New', monospace;
}
